# Introduction to python

In [ ]:
--> Library (numpy)
---> packges  (array)
----> modules/pyfiles (matrices)
------>classes/ fuctions (ndim)
-------> function/ variables (rows/columns)
---------> data(numrical) (numerical)

## variables

correct way  of variable creation

In [ ]:
a = 10
abcd = 20
a_b = 30
a_b_1 = 40
data_type = 30

Incorrect way of variable creation

In [ ]:
 a = 10
1a = 20
if = 30

In [6]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Data types
1. --> int, float, bool, str, complex, object, Nonetype.

In [7]:
a = 10

In [8]:
type(a)

int

In [9]:
b = 10.5
type(b)

float

In [11]:
c = True
type(c)

bool

In [12]:
d = 'syeda'
type(d)

str

In [14]:
e = 10+5j
print(e)
type(e)

(10+5j)

complex

In [15]:
f = None
type(f)

NoneType

In [ ]:
# string data
1. '' --> word
2. "" --> statments
3. """"""/'''''' --> paragraphs/multiline.

In [16]:
name = 'syeda'
type(name)

str

In [18]:
info = "my name is syeda, syeda's class is going on."
type(info)

str

In [29]:
info_data = """my name is syeda, syeda's class is going on.
DS class started for python
Programming"""
type(info_data)

str

In [30]:
# comment
info = "my name is syeda, syeda's class is going on." # info
print(info)

my name is syeda, syeda's class is going on.

In [23]:
print(info_data)

my name is syeda, syeda's class is going on.
DS class started for python
Programming

In [24]:
info_data.upper()

"MY NAME IS SYEDA, SYEDA'S CLASS IS GOING ON.\nDS CLASS STARTED FOR PYTHON\nPROGRAMMING"

In [25]:
info_data.lower()

"my name is syeda, syeda's class is going on.\nds class started for python\nprogramming"

In [26]:
info_data.capitalize()

"My name is syeda, syeda's class is going on.\nds class started for python\nprogramming"

In [27]:
info_data.swapcase()

"MY NAME IS SYEDA, SYEDA'S CLASS IS GOING ON.\nds CLASS STARTED FOR PYTHON\npROGRAMMING"

In [28]:
info_data.casefold()

"my name is syeda, syeda's class is going on.\nds class started for python\nprogramming"

In [33]:
# checks the string which its starts and ends.
info_data.startswith('m'), info_data.startswith('a')

(True, False)

In [35]:
info_data.endswith('g'),info_data.endswith('.')

(True, False)

In [36]:
info_data

"my name is syeda, syeda's class is going on.\nDS class started for python\nProgramming"

In [39]:
data = info_data.split('\n')
data

["my name is syeda, syeda's class is going on.",
 'DS class started for python',
 'Programming']

In [40]:
str1 = ' string'
str2 = 'string '
str3 = ' string '

In [44]:
str1.lstrip(),str2.rstrip(),str3.strip()

('string', 'string', 'string')

In [45]:
str4 = 'Data science'
str4.replace('science','information')

'Data information'

In [ ]:
str.isalnum, str.isalpha, str.isascii, str.isdecimal,str.isnumeric, str.isupper, str.islower

In [54]:
a = 'abcd123'
a.isalnum()

True

In [47]:
a.isalpha()

False

In [49]:
b = 'abcd'
b.isalpha()

True

In [52]:
a.isascii(),b.isascii(),str4.isascii()

(True, True, True)

In [56]:
c = '2'
c.isdecimal()

True

In [57]:
c.isnumeric()

True

In [58]:
d = 'UPPER'
d.isupper()

True

In [62]:
e = 'lower'
e.islower()

True

In [61]:
f = ' '
f.isspace()

True

In [63]:
str4

'Data science'

In [64]:
len(str4)

12

In [69]:
str4.count('D')

1

In [72]:
str4.index('c'), str4.find('c')

(6, 6)

In [73]:
d

'UPPER'

In [76]:
d.ljust(10,'a'),d.rjust(10,'#'),d.center(12,'#')

('UPPERaaaaa', '#####UPPER', '###UPPER####')

In [77]:
# format function
str.format()

TypeError: unbound method str.format() needs an argument

In [80]:
name = 'syeda'
'My name is {}{}'.format(name,name)

'My name is syedasyeda'

In [81]:
name = 'sam'
age = 23
wight = 52

In [86]:
statment = '''My name is {},
My age is {}
My weight is {}'''.format(name,age,wight)

In [87]:
print(statment)

My name is sam,
My age is 23
My weight is 52

In [95]:
# user input()
name = input()

 56

In [98]:
name = input()
age = input()
wight = input()
statment = '''My name is {},
My age is {}
My weight is {}'''.format(name,age*2,wight)
print(statment)

 sam
 23
 56

My name is sam,
My age is 2323
My weight is 56

In [100]:
# type casting --> int()
a = 10
b = '10'
c = 10.5
d = 10+5j

In [105]:
int(a),int(b),int(c)

(10, 10, 10)

In [109]:
# floating --> float()
float(a),float(b),float(c)

(10.0, 10.0, 10.5)

In [111]:
# string --> str()
str(a),str(c),str(d)

('10', '10.5', '(10+5j)')

In [114]:
complex(a),complex(b),complex(c)

((10+0j), (10+0j), (10.5+0j))

In [115]:
name = input()
age = int(input())
wight = float(input())
statment = '''My name is {},
My age is {}
My weight is {}'''.format(name,age*2,wight)
print(statment)

 syeda
 26
 45.69

My name is syeda,
My age is 52
My weight is 45.69

In [116]:
# string concatination
st1 = 'this is the 1st  statement'
st2 = 'This is the 2nd statement'

In [118]:
st1 + st2

'this is the 1st  statementThis is the 2nd statement'

In [119]:
st1 + ' '  + st2

'this is the 1st  statement This is the 2nd statement'

In [121]:
'12365'.join(st2)

'T12365h12365i12365s12365 12365i12365s12365 12365t12365h12365e12365 12365212365n12365d12365 12365s12365t12365a12365t12365e12365m12365e12365n12365t'

In [122]:
st2.join(' ---> ')

' This is the 2nd statement-This is the 2nd statement-This is the 2nd statement-This is the 2nd statement>This is the 2nd statement '

In [124]:
st2.join('0\n')

'0This is the 2nd statement\n'

1.create a name in str and number in integer, 
and use the print to given the message and operate with the arthemetic operatations.

In [ ]:
Arthemetic operation
add --> +
sub --> -
mul --> *
power --> **
div --> /
floor --> //
reminder --> %

In [133]:
2+2,4-2,4*2,4**2,8/2,3//2,3%2

(4, 2, 8, 16, 4.0, 1, 1)

In [135]:
3/2,3//2

(1.5, 1)

Task 2: create a 3 user defined function with parameters, r, B,h, taking value by the user input, and calculate the 
valume spear --> v = 4/3 * math.pi * r**3 
area of triangle --> A = 1/2 *b * h
distance of two points --> d = math.sqrt((x2 - x1)**2 + (y2 - y1)**2))
Slope of line --> m = (y2 - y1) / (x2 - x1)

hint:
import math
math.pi
math.e
math.sqrt

In [137]:
import math
math.pi,math.e

(3.141592653589793, 2.718281828459045)

In [139]:
r = int(input('Enter the r value: '))
v = round(4/3 * math.pi * r**3,2)
print(v)

Enter the r value:  6

904.78

In [ ]:
# Data structures
--> list, tuple, set, dictionary
List: 
    creating --> [],list()
    list mutable--> manipulation of the cata is possible.
    list data can be stored diffrent types of data
    
tuple:
    creating--> comma seperated will values create tuple, (), tuple()
    tuple immutable --> cannt changes
    tuple data can be stored diffrent types of data

set:
    creating --> {}, set()
    defult data will be written in ascending order, unique values.
    set is not present on the basis of index, 
    Funtions can be utilized to manipultaion
Dict:
    create using {}, dict()
    defualt values, key:value pair
        key: unique , (int, str)
        values: single, list/tuple/set
    dict is mutable, we can make changes only for values not key.

# list

In [1]:
List1 = [1,2,3,4,5,6]
print(List1)

[1, 2, 3, 4, 5, 6]

In [2]:
type(List1)

list

In [3]:
# indexing/ slicing [0,1,2,....] [strt:end:step]

In [9]:
List1[0],List1[1],List1[2],List1[3],List1[4],List1[5]

(1, 2, 3, 4, 5, 6)

In [18]:
List1[0:]  # --> all data selection

[1, 2, 3, 4, 5, 6]

In [19]:
List1[4:]

[5, 6]

In [23]:
List1

[1, 2, 3, 4, 5, 6]

In [21]:
List1[0:5:2]

[1, 3, 5]

In [22]:
List1[0:5:3]

[1, 4]

In [26]:
List1[::1]

[1, 2, 3, 4, 5, 6]

In [29]:
List1,List1[:],List1[::] # --> slection of all data.

([1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6])

# negative indexing

In [30]:
List1

[1, 2, 3, 4, 5, 6]

In [32]:
List1[-4:-1]

[3, 4, 5]

In [34]:
List1[-6:-3]

[1, 2, 3]

## Reversing the list

In [35]:
List1

[1, 2, 3, 4, 5, 6]

In [36]:
List1[::-1]

[6, 5, 4, 3, 2, 1]

### assignment of value to index.

In [38]:
List1[3] = 15

In [43]:
List1

[1, 2, 3, 15, 5, 6]

In [41]:
List1[6] = [16,18]

IndexError: list assignment index out of range

In [42]:
# list functions adding value

In [44]:
List1.append(7) #--> append at the end, single value index at a time.

In [45]:
List1

[1, 2, 3, 15, 5, 6, 7]

In [46]:
List1.append([8,9])

In [47]:
List1

[1, 2, 3, 15, 5, 6, 7, [8, 9]]

In [48]:
List1.extend([10,11,12,13]) #--> multi values at once.

In [49]:
List1

[1, 2, 3, 15, 5, 6, 7, [8, 9], 10, 11, 12, 13]

In [50]:
List1.insert(7,8) # Given index the value is written.

In [51]:
List1

[1, 2, 3, 15, 5, 6, 7, 8, [8, 9], 10, 11, 12, 13]

In [55]:
List1.count(14)

0

In [56]:
List1.index(15)

3

In [57]:
List1.pop() # --> deleting the last at time.

13

In [59]:
List1.pop()

12

In [61]:
List1.pop(1)

2

In [63]:
List1.remove(10)

In [64]:
List1

[1, 3, 15, 5, 6, 7, 8, [8, 9], 11]

In [65]:
List1.remove([8,9])

In [67]:
List1.reverse()

In [69]:
List1.sort() # --> defualt in ascending.

In [70]:
List1

[1, 3, 5, 6, 7, 8, 11, 15]

In [71]:
# descending order
List1.sort(reverse=True)

In [72]:
List1

[15, 11, 8, 7, 6, 5, 3, 1]

In [76]:
List2 = List1.copy()

In [77]:
List2

[1, 3, 5, 6, 7, 8, 11, 15]

In [78]:
List1.clear()

In [79]:
List1

[]

In [80]:
# arthemetic operation
List2

[1, 3, 5, 6, 7, 8, 11, 15]

In [82]:
List3 = [1,5,6,9]

In [83]:
# list concatonation
List2  + List3

[1, 3, 5, 6, 7, 8, 11, 15, 1, 5, 6, 9]

In [86]:
# list multiplication
List2  * 2

[1, 3, 5, 6, 7, 8, 11, 15, 1, 3, 5, 6, 7, 8, 11, 15]

In [ ]:
# membership operators
in, not in, is , is not.

In [87]:
List2

[1, 3, 5, 6, 7, 8, 11, 15]

In [88]:
11 in List2

True

In [89]:
16 in List2

False

In [90]:
16 not in List2

True

In [92]:
type(List2) is list

True

In [93]:
type(List2) is str

False

In [94]:
type(List2) is not str

True

In [101]:
# python bulitin fucntion on the list --> min, max, sum(), len(),round()
List2.extend([17,19,13])

In [102]:
min(List2),max(List2),len(List2),sum(List2)

(1, 19, 11, 105)

In [107]:
avg = sum(List2)/len(List2)
round(avg,2)

9.55

In [ ]:
Task3:
names = ['prajwal ',' juhaib','aryan ','ram ',' pyarellall',
         'binit ','Venkatesh ']
1st name --> upper case
2nd name --> captilze
3rd name --> swapcase
4th name --> Replace new your name
5th name --> split th name
6th name --> add suffix 'mr'
7th name --> write any value

In [108]:
names = ['prajwal ',' juhaib','aryan ','ram ',' pyarellall',
         'binit ','Venkatesh ']

In [113]:
names[0] = names[0].strip().upper()

In [114]:
names

['PRAJWAL', ' juhaib', 'aryan ', 'ram ', ' pyarellall', 'binit ', 'Venkatesh ']

# tuple

In [115]:
Tup = 10,11,12,13
print(Tup)

(10, 11, 12, 13)

In [116]:
type(Tup)

tuple

In [117]:
Tupl = (15,16,1,8)
type(Tupl)

tuple

In [120]:
Tup[1:3]

(11, 12)

In [121]:
Tup[0] = 12

TypeError: 'tuple' object does not support item assignment

In [123]:
Tup.count(10),Tup.index(10)

(1, 0)

In [125]:
Tupl = list(Tupl)

In [127]:
Tupl[2] = 17

In [129]:
Tupl = tuple(Tupl)

In [130]:
Tupl

(15, 16, 17, 8)

In [131]:
type(Tupl)

tuple

In [133]:
sum(Tupl),len(Tupl)

(56, 4)

# set

In [136]:
dir()

['In',
 'List1',
 'List2',
 'List3',
 'Out',
 'Tup',
 'Tupl',
 '_',
 '_100',
 '_102',
 '_103',
 '_104',
 '_105',
 '_106',
 '_107',
 '_109',
 '_11',
 '_110',
 '_111',
 '_112',
 '_114',
 '_116',
 '_117',
 '_118',
 '_119',
 '_12',
 '_120',
 '_122',
 '_123',
 '_124',
 '_126',
 '_128',
 '_13',
 '_130',
 '_131',
 '_132',
 '_133',
 '_135',
 '_14',
 '_15',
 '_16',
 '_17',
 '_18',
 '_19',
 '_2',
 '_20',
 '_21',
 '_22',
 '_23',
 '_24',
 '_25',
 '_26',
 '_27',
 '_28',
 '_29',
 '_30',
 '_31',
 '_32',
 '_33',
 '_34',
 '_35',
 '_36',
 '_37',
 '_39',
 '_4',
 '_43',
 '_45',
 '_47',
 '_49',
 '_5',
 '_51',
 '_52',
 '_53',
 '_55',
 '_56',
 '_57',
 '_58',
 '_59',
 '_6',
 '_60',
 '_61',
 '_62',
 '_64',
 '_66',
 '_68',
 '_7',
 '_70',
 '_72',
 '_74',
 '_77',
 '_79',
 '_8',
 '_80',
 '_83',
 '_86',
 '_87',
 '_88',
 '_89',
 '_9',
 '_90',
 '_91',
 '_92',
 '_93',
 '_94',
 '_95',
 '_96',
 '_97',
 '_98',
 '_99',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_exit_code',
 '_i',
 '_i1',
 '_i10',
 '_i100',
 '_i101',
 '_i102',
 '_i103',
 '_i104',
 '_i105',
 '_i106',
 '_i107',
 '_i108',
 '_i109',
 '_i11',
 '_i110',
 '_i111',
 '_i112',
 '_i113',
 '_i114',
 '_i115',
 '_i116',
 '_i117',
 '_i118',
 '_i119',
 '_i12',
 '_i120',
 '_i121',
 '_i122',
 '_i123',
 '_i124',
 '_i125',
 '_i126',
 '_i127',
 '_i128',
 '_i129',
 '_i13',
 '_i130',
 '_i131',
 '_i132',
 '_i133',
 '_i134',
 '_i135',
 '_i136',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i87',
 '_i88',
 '_i89',
 '_i9',
 '_i90',
 '_i91',
 '_i92',
 '_i93',
 '_i94',
 '_i95',
 '_i96',
 '_i97',
 '_i98',
 '_i99',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'avg',
 'exit',
 'get_ipython',
 'names',
 'open',
 'quit']

In [137]:
del Tupl

In [138]:
Tupl

NameError: name 'Tupl' is not defined

In [139]:
s1 = {10,11,11,12,13,15,11,16,14,18,14}

In [141]:
s2 = {10,15,14,18,19,20,21,17,16}

In [142]:
s1,s2

({10, 11, 12, 13, 14, 15, 16, 18}, {10, 14, 15, 16, 17, 18, 19, 20, 21})

In [147]:
s1.add(17) #--> one value at time

In [149]:
s1.update({19,20}) #--> multiple value can be updated.

In [150]:
unione --> combine
diffrence --> diffrent values
intersection --> common values
symmetric diffrence--> both the set simalar diffrent value is extracted

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [152]:
s1,s2

({10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20},
 {10, 14, 15, 16, 17, 18, 19, 20, 21})

In [153]:
s1.union(s2)

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21}

In [154]:
s1.intersection(s2)

{10, 14, 15, 16, 17, 18, 19, 20}

In [155]:
s2.intersection(s1)

{10, 14, 15, 16, 17, 18, 19, 20}

In [157]:
s1,s2

({10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20},
 {10, 14, 15, 16, 17, 18, 19, 20, 21})

In [156]:
s1.symmetric_difference(s2)

{11, 12, 13, 21}

In [158]:
s1.difference(s2)

{11, 12, 13}

In [160]:
s1.isdisjoint(s2)

False

In [161]:
s3 = {1,2,3}
s4 = {4,5,6}
s3.isdisjoint(s4)

True

In [164]:
a = {1,2,3,4,5,6}
b = {1,2,3}
a.issuperset(b),a.issubset(b)

(True, False)

In [166]:
b.issubset(a),b.issuperset(a)

(True, False)

In [169]:
#updating
s1.difference(s2)

{11, 12, 13}

In [170]:
s1.difference_update(s2)

In [171]:
s1

{11, 12, 13}

In [173]:
s1.symmetric_difference(s2)

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21}

In [174]:
s1.symmetric_difference_update(s2)

In [176]:
s1.intersection(s2)

{10, 14, 15, 16, 17, 18, 19, 20, 21}

In [177]:
s1.intersection_update(s2)

In [178]:
s1

{10, 14, 15, 16, 17, 18, 19, 20, 21}

In [179]:
# indexing/ slicing.
s1[0]

TypeError: 'set' object is not subscriptable

In [181]:
s1.pop()

14

In [183]:
s1.remove(20)

In [184]:
s1

{15, 16, 17, 18, 19, 21}

# dictionary

In [185]:
data = {1:'one', 2:'Two',3:'Three',4:'four'}

In [187]:
type(data)

dict

In [188]:
data1 = {'key1':[1,2,3,5,6],
        'key2':(10,15,16,True),
        'Key3': {'a','b','c','d'}
        }

In [189]:
data1

{'key1': [1, 2, 3, 5, 6],
 'key2': (10, 15, 16, True),
 'Key3': {'a', 'b', 'c', 'd'}}

In [190]:
type(data1)

dict

In [191]:
data1.keys()

dict_keys(['key1', 'key2', 'Key3'])

In [192]:
data1.values()

dict_values([[1, 2, 3, 5, 6], (10, 15, 16, True), {'d', 'b', 'c', 'a'}])

In [193]:
data1.items()

dict_items([('key1', [1, 2, 3, 5, 6]), ('key2', (10, 15, 16, True)), ('Key3', {'d', 'b', 'c', 'a'})])

In [194]:
data1.get('key1')

[1, 2, 3, 5, 6]

In [195]:
data1['key1']

[1, 2, 3, 5, 6]

In [197]:
data1.pop('key1')

[1, 2, 3, 5, 6]

In [200]:
data1.popitem()

('Key3', {'a', 'b', 'c', 'd'})

In [201]:
data1

{'key2': (10, 15, 16, True)}

In [202]:
data1.update({'key1':[1, 2, 3, 5, 6]})

In [204]:
data1

{'key2': (10, 15, 16, True), 'key1': [1, 2, 3, 5, 6]}

In [208]:
data1['key1'][3] = 4

In [209]:
data1

{'key2': (10, 15, 16, True), 'key1': [1, 2, 3, 4, 6]}

# multi list and multi dictionary

In [210]:
Mlist = [[0,1,2,3],[4,5,6,7],[8,9,10,11,12]]

In [211]:
print(Mlist)

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11, 12]]

In [218]:
Mlist[0][2], Mlist[2][2]

(2, 10)

In [220]:
# extract 151,a
Mlist1 = [0,1,2,[10,151,6,[5,6,8,[8,9,10],[15,14,16],['a',5]]]]

In [222]:
Mlist1[3][1],Mlist1[3][3][5][0]

(151, 'a')

In [226]:
Mlist1[3][3][5][0]

'a'

In [227]:
student_marks = [
    {'name':'sam',
    'age':25,
    'subjects':['Maths','science','CS','Statistics','Phyisics','Bio'],
    'Marks':[60,70,80,90,70,60]},
    
    {'name':'jack',
    'age':26,
    'subjects':['Maths','science','CS','Statistics','Phyisics','Bio'],
    'Marks':[60,70,80,80,70,60]}
                ]

In [234]:
student_marks[0]

{'name': 'sam',
 'age': 25,
 'subjects': ['Maths', 'science', 'CS', 'Statistics', 'Phyisics', 'Bio'],
 'Marks': [60, 70, 80, 90, 70, 60]}

In [235]:
student_marks[0]['name'][2]

'm'

In [239]:
student_marks[0]['Marks']

[60, 70, 80, 90, 70, 60]

In [238]:
student_marks[0]['name']

'sam'

In [ ]:
# change the value to science -->  data science.

In [ ]:
#Task4: calculate the avgrage hight of all list.
students heights = [[5.5,5.6,5.9,5.8,5.7,5.9],
                    [6.5,6.8,7.1,6.3,6.4,6.6,6.4],
                    [7.1,7.8,7.5,6.9,8.1,7.5,7.9]]

In [ ]:
# Task5: find the average marks if the students name is in terms of string.
DS_students = [
    {'name': 'Sam',
 'age': 37,
 'course': ['DS', 'Stat', 'AWS'],
 'marks': [80, 95, 69,60]},
  
    {'name': None,
 'age': 37,
 'course': ['DS', 'Stat', 'AWS'],
 'marks': [80, 95, 69,70]},
 
    {'name': 10,
 'age': 37,
 'course': ['DS', 'Stat', 'AWS'],
 'marks': [80, 95, 69,30]}]