# Introduction to python

In [1]:
#Here's a Python program that counts the number of words in a given text:


input_text = "This is a sample text. This text will be used to demonstrate the word counter."

# Convert the text to lowercase and split it into words
words = input_text.lower().split()

# Create a dictionary to store the word counts
word_counts = {}

# Iterate over each word in the list
for word in words:
    # Remove punctuation from the word
    word = word.strip('.,!?"\'')
    
    # If the word is already in the dictionary, increment its count
    if word in word_counts:
        word_counts[word] += 1
    # Otherwise, add the word to the dictionary with a count of 1
    else:
        word_counts[word] = 1

# Print the word counts
for word, count in word_counts.items():
    print(f'{word}: {count}')

this: 2
is: 1
a: 1
sample: 1
text: 2
will: 1
be: 1
used: 1
to: 1
demonstrate: 1
the: 1
word: 1
counter: 1

--> Library (numpy)
---> packges  (array)
----> modules/pyfiles (matrices)
------>classes/ fuctions (ndim)
-------> function/ variables (rows/columns)
---------> data(numrical) (numerical)

## variables

correct way  of variable creation

In [2]:
a = 10
abcd = 20
a_b = 30
a_b_1 = 40
data_type = 30

Incorrect way of variable creation

 a = 10
1a = 20
if = 30

In [3]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Data types
1. --> int, float, bool, str, complex, object, Nonetype.

In [4]:
a = 10

In [5]:
type(a)

int

In [6]:
b = 10.5
type(b)

float

In [7]:
c = True
type(c)

bool

In [8]:
d = 'syeda'
type(d)

str

In [9]:
e = 10+5j
print(e)
type(e)

(10+5j)

complex

In [10]:
f = None
type(f)

NoneType

# string data
1. '' --> word
2. "" --> statments
3. """"""/'''''' --> paragraphs/multiline.

In [11]:
name = 'syeda'
type(name)

str

In [12]:
info = "my name is syeda, syeda's class is going on."
type(info)

str

In [13]:
info_data = """my name is syeda, syeda's class is going on.
DS class started for python
Programming"""
type(info_data)

str

In [14]:
# comment
info = "my name is syeda, syeda's class is going on." # info
print(info)

my name is syeda, syeda's class is going on.

In [15]:
print(info_data)

my name is syeda, syeda's class is going on.
DS class started for python
Programming

In [16]:
info_data.upper()

"MY NAME IS SYEDA, SYEDA'S CLASS IS GOING ON.\nDS CLASS STARTED FOR PYTHON\nPROGRAMMING"

In [17]:
info_data.lower()

"my name is syeda, syeda's class is going on.\nds class started for python\nprogramming"

In [18]:
info_data.capitalize()

"My name is syeda, syeda's class is going on.\nds class started for python\nprogramming"

In [19]:
info_data.swapcase()

"MY NAME IS SYEDA, SYEDA'S CLASS IS GOING ON.\nds CLASS STARTED FOR PYTHON\npROGRAMMING"

In [20]:
info_data.casefold()

"my name is syeda, syeda's class is going on.\nds class started for python\nprogramming"

### Day-2

In [21]:
info_data.startswith('m')

True

In [22]:
info_data.endswith('g')

True

In [23]:
data=info_data.split(sep=',')
data

['my name is syeda',
 " syeda's class is going on.\nDS class started for python\nProgramming"]

In [24]:
info_data.find('m')

0

In [25]:
info_data.replace('my','I')

"I name is syeda, syeda's class is going on.\nDS class started for python\nProgramming"

In [26]:
info_data=info_data.replace("syeda","sourabh")

In [27]:
info_data

"my name is sourabh, sourabh's class is going on.\nDS class started for python\nProgramming"

In [28]:
info_data.split('\n')

["my name is sourabh, sourabh's class is going on.",
 'DS class started for python',
 'Programming']

In [29]:
str1= ' string'
str2= 'string '
str3= ' string '

In [30]:
print(str1)

 string

In [31]:
len(str1.strip())

6

In [32]:
print(str2.rstrip())

string

In [33]:
str1.lstrip()

'string'

In [34]:
str4 = 'Data Science'
str4.replace('Science','Analyst')

'Data Analyst'

In [35]:
str4.isalnum()

False

In [36]:
sb='ssd'
sb.isalpha()

True

In [37]:
ab='a'
ab.isascii()

True

In [38]:
c='52.2'
c.isdecimal()

False

In [39]:
c='52.2'
c.isnumeric()

False

In [40]:
abc="Sourabh"
abc.isupper()

False

In [41]:
ab="SOURABH"
ab.isupper()

True

In [42]:
abc.islower()

False

In [43]:
ab.istitle()

False

In [44]:
str4.isspace()

False

In [45]:
st="  I am working as a data scientist"
st.isspace()

False

In [46]:
e=" "
e.isspace()

True

In [47]:
len(str4)

12

In [48]:
str4.index('D')

0

In [49]:
str4.count('D')

1

In [50]:
#similar to index
str4.find('c')

6

In [51]:
str4.find('Science')

5

In [52]:
d=d.upper()

In [53]:
d

'SYEDA'

In [54]:
d.ljust(6,"#"),d.rjust(6,'#'),d.center(12,'#')

('SYEDA#', '#SYEDA', '###SYEDA####')

In [55]:
d.ljust(10,"#"),d.rjust(10,'#'),d.center(12,'#')

('SYEDA#####', '#####SYEDA', '###SYEDA####')

In [56]:
name="Sourabh"
'My name is {}'.format(name)

'My name is Sourabh'

In [57]:
name="Sourabh"
'My name is {}{}'.format(name,name)

'My name is SourabhSourabh'

In [58]:
name= 'stuti'
age=22
"my name is {},my age is {}".format(name,age)

'my name is stuti,my age is 22'

In [59]:
#user input
name=input("enter the name:")
print(name)

enter the name:sourabh
sourabh

In [60]:
name=input()
age=input()
statement='''my name is {},
my age is {}'''.format(name,age)
print(statement)

sourabh
23
my name is sourabh,
my age is 23

In [61]:
# data type-casting
a=10
b='10'
c=10.5
d=10+5j
a=int(a)
b=int(b)
c=int(c)

In [62]:
a

10

In [63]:
b

10

In [64]:
c

10

In [65]:
# floating --> float
float(a),float(b),float(c)

(10.0, 10.0, 10.0)

In [66]:
# string --> str()
str(a),str(b),str(c),str(d)

('10', '10', '10', '(10+5j)')

In [67]:
complex(a),complex(b),complex(c),complex(d)

((10+0j), (10+0j), (10+0j), (10+5j))

In [68]:
# string concatination
st1= 'This is string1'
st2= 'This is string2'
print(st1,"\n",st2)

This is string1
 This is string2

In [69]:
#iterate
st1.join(st2)

'TThis is string1hThis is string1iThis is string1sThis is string1 This is string1iThis is string1sThis is string1 This is string1sThis is string1tThis is string1rThis is string1iThis is string1nThis is string1gThis is string12'

In [70]:
st2.join(' ---> ')

' This is string2-This is string2-This is string2-This is string2>This is string2 '

In [71]:
import math
a=20.5
math.floor(a)

20

In [72]:
a=10/3

In [73]:
round(a,2)

3.33

In [74]:
name='sourabh'
age=20

In [75]:
#name+age

In [76]:
#name-age

In [77]:
name*age

'sourabhsourabhsourabhsourabhsourabhsourabhsourabhsourabhsourabhsourabhsourabhsourabhsourabhsourabhsourabhsourabhsourabhsourabhsourabhsourabh'

In [78]:
#name/age

In [79]:
#name**age

In [80]:
#name//age

In [81]:
#name%age

#Task 2: create a 4 user defined function with parameters, r, B,h, taking value by the user and calculate the

import math

math.pi

math.e

math.sqrt

valume spear --> v = 4/3 * math.pi * r**3

area of triangle --> A = 1/2 b h

distance of two points --> d = math.sqrt((x2 - x1)*2 + (y2 - y1)*2))
slop of line --> m=(y2-y1)/(x2-x1)

In [82]:
import math
r=math.pi

In [83]:
b=math.e

In [84]:
h=math.sqrt(12)

In [85]:
print("valume spear:",4/3 * math.pi * r**3)
print("area of triangle:" ,1/2*b*h)

valume spear: 129.87878804533656
area of triangle: 4.708202236182293

In [86]:
x1=int(input())
x2=int(input())
y2=int(input())
y1=int(input())

23
36
35
36

In [87]:
print("distance of two points:",math.sqrt((x2 - x1)**2 + (y2 - y1)**2))

distance of two points: 13.038404810405298

In [88]:
print("slop of line:",(y2-y1)/(x2-x1))

slop of line: -0.07692307692307693

### Day-3

# Data structures
--> list, tuple, set, dictionary
List:
    creating --> [],list()
    list mutable--> manipulation of the data is possible.
    list data can be stored different types of data
    
    
tuple:
    creating--> comma seperated will values create tuple.
    tuple immutable-->can't changes
    tuple data can be stored different types of data
    
set:
    creating --> {},set()
    defult data will be written in ascending order, unique values.
    set is not present on the basis of index,
    functions can be utilized to manipulation
    
dict:
    create using {},dict()
    default values, key:pair
        key:unique,(int,str)
        values:single,list/tuple/set
    dict is mutable, we can make changes only for values not key.

In [89]:
list1 = [1,2,3,4,5,6]
print(list1)

[1, 2, 3, 4, 5, 6]

In [90]:
type(list1)

list

In [91]:
# indexing/ slicing [0,1,2,...][start:end:step]

In [92]:
list1[0],list1[1],list1[2],list1[3],list1[4],list1[5]

(1, 2, 3, 4, 5, 6)

In [93]:
list1[0:6]

[1, 2, 3, 4, 5, 6]

In [94]:
list1[2]=9

In [95]:
list1

[1, 2, 9, 4, 5, 6]

In [96]:
list1[0:]

[1, 2, 9, 4, 5, 6]

In [97]:
list1[4:]

[5, 6]

In [98]:
list1[4:]

[5, 6]

In [99]:
list1[0:5:1]

[1, 2, 9, 4, 5]

In [100]:
list1[0:5:2]

[1, 9, 5]

In [101]:
list1[::-1]

[6, 5, 4, 9, 2, 1]

In [102]:
list1,list1[:],list1[::] # --> selection of all data.

([1, 2, 9, 4, 5, 6], [1, 2, 9, 4, 5, 6], [1, 2, 9, 4, 5, 6])

### negative indexing

In [103]:
#reading data from l to r
list1

[1, 2, 9, 4, 5, 6]

In [104]:
list1[-1]

6

In [105]:
list1[-4:-1]

[9, 4, 5]

In [106]:
list1[-6:-3]

[1, 2, 9]

### Reversing the list

In [107]:
list1

[1, 2, 9, 4, 5, 6]

In [108]:
list1[::-1]

[6, 5, 4, 9, 2, 1]

### assignment of value to index.

In [109]:
list1[3]

4

In [110]:
list1[3]=15

In [111]:
list1

[1, 2, 9, 15, 5, 6]

In [112]:
list1.append(4)

In [113]:
list1

[1, 2, 9, 15, 5, 6, 4]

In [114]:
list1[6]=16,17

In [115]:
list1

[1, 2, 9, 15, 5, 6, (16, 17)]

In [116]:
# list functions adding the value
list1.append(7) #append at the end, single value index at a time.

In [117]:
list1

[1, 2, 9, 15, 5, 6, (16, 17), 7]

In [118]:
list1.append([8,9])

In [119]:
list1

[1, 2, 9, 15, 5, 6, (16, 17), 7, [8, 9]]

In [120]:
list1.extend([10,11,12,13]) #--> multi values at once.

In [121]:
list1

[1, 2, 9, 15, 5, 6, (16, 17), 7, [8, 9], 10, 11, 12, 13]

In [122]:
list1.insert(8,8) #given index the value is written.

In [123]:
list1

[1, 2, 9, 15, 5, 6, (16, 17), 7, 8, [8, 9], 10, 11, 12, 13]

In [124]:
list1.count(8) #it will count th

1

In [125]:
list1.index(15)

3

In [126]:
list1.pop() # --> deleting the last at time.

13

In [127]:
list1

[1, 2, 9, 15, 5, 6, (16, 17), 7, 8, [8, 9], 10, 11, 12]

In [128]:
list1.pop(9)

[8, 9]

In [129]:
list1

[1, 2, 9, 15, 5, 6, (16, 17), 7, 8, 10, 11, 12]

In [130]:
list1.remove(2) # which value we want to remove

In [131]:
list1

[1, 9, 15, 5, 6, (16, 17), 7, 8, 10, 11, 12]

In [132]:
list1.remove([8,9])

ValueError: list.remove(x): x not in list

In [133]:
list1.reverse()

In [134]:
list1

[12, 11, 10, 8, 7, (16, 17), 6, 5, 15, 9, 1]

In [135]:
#ascending
list1.sort()

TypeError: '<' not supported between instances of 'tuple' and 'int'

In [136]:
list1

[12, 11, 10, 8, 7, (16, 17), 6, 5, 15, 9, 1]

In [137]:
#
list1.sort(reverse=True)

TypeError: '<' not supported between instances of 'tuple' and 'int'

In [138]:
list1

[12, 11, 10, 8, 7, (16, 17), 15, 9, 6, 5, 1]

In [139]:
list2=list1.copy()

In [140]:
list2

[12, 11, 10, 8, 7, (16, 17), 15, 9, 6, 5, 1]

In [141]:
list1.clear()

In [142]:
list1

[]

In [143]:
list2

[12, 11, 10, 8, 7, (16, 17), 15, 9, 6, 5, 1]

In [144]:
list3=[1,5,6,9]

In [145]:
#list cancatenation
list2+list3

[12, 11, 10, 8, 7, (16, 17), 15, 9, 6, 5, 1, 1, 5, 6, 9]

In [146]:
#list multiplication
#list2 * list3

In [147]:
list2 * 2

[12,
 11,
 10,
 8,
 7,
 (16, 17),
 15,
 9,
 6,
 5,
 1,
 12,
 11,
 10,
 8,
 7,
 (16, 17),
 15,
 9,
 6,
 5,
 1]

In [148]:
# membership operators
#in, not in, is, is not.

In [149]:
11 in list2

True

In [150]:
16 not in list2

True

In [151]:
type(list2)

list

In [152]:
type(list2) is list

True

In [153]:
type(list2) is str

False

In [154]:
type(list2) is not str

True

In [155]:
# builtin function
#https://docs.python.org/3/library/functions.html

In [156]:
# python builtin function on list --> min, sum(),max,len(),round()

In [157]:
max(list2)

TypeError: '>' not supported between instances of 'tuple' and 'int'

In [158]:
sorted(list2)

TypeError: '<' not supported between instances of 'tuple' and 'int'

In [159]:
sum(list2)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [160]:
min(list2), sum(list2),max(list2),len(list2)

TypeError: '<' not supported between instances of 'tuple' and 'int'

In [161]:
avg =sum(list2)/sum(list3)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [162]:
avg

NameError: name 'avg' is not defined

In [163]:
round(avg,2)

NameError: name 'avg' is not defined

In [164]:
# task-3

In [165]:
names = ['prajwal ',' juhaib','aryan ','ram ',' pyarellall','binit ','venkatesh ']

In [166]:
names

['prajwal ',
 ' juhaib',
 'aryan ',
 'ram ',
 ' pyarellall',
 'binit ',
 'venkatesh ']

In [167]:
names[0]=names[0].strip()
names[1]=names[1].strip()
names[2]=names[2].strip()
names[3]=names[3].strip()
names[4]=names[4].strip()
names[5]=names[5].strip()
names[6]=names[6].strip()

In [168]:
names

['prajwal', 'juhaib', 'aryan', 'ram', 'pyarellall', 'binit', 'venkatesh']

In [169]:
names[0]=names[0].upper()

In [170]:
names[1]=names[1].capitalize()

In [171]:
names[2]=names[2].swapcase()

In [172]:
names[3]=names[3].replace("ram","Abhishek")

In [173]:
names[4]=names[4].split('l')

In [174]:
names[5]=['mr binit']

In [175]:
names[6]=names[6]="rohan"

In [176]:
names

['PRAJWAL',
 'Juhaib',
 'ARYAN',
 'Abhishek',
 ['pyare', '', 'a', '', ''],
 ['mr binit'],
 'rohan']

### tuple

In [177]:
Tup = 10,11,12,13
Tup

(10, 11, 12, 13)

In [178]:
type(Tup)

tuple

In [179]:
tup = (10,11,12,13)
type(tup)

tuple

In [180]:
tup[0]

10

In [181]:
tup[1:3]

(11, 12)

tup[0]=12

#TypeError: 'tuple' object does not support item assignment

In [182]:
tup.count(10)

1

In [183]:
tup.index(10)

0

In [184]:
tupl= list(tup)

In [185]:
tupl

[10, 11, 12, 13]

In [186]:
tupl[2]=17

In [187]:
tupl

[10, 11, 17, 13]

In [188]:
tup=tuple(tupl)

In [189]:
tup

(10, 11, 17, 13)

In [190]:
type(tup)

tuple

In [191]:
sum(tupl)

51

In [192]:
len(tupl)

4

In [193]:
del tupl[2]

In [194]:
tupl

[10, 11, 13]

### set

In [195]:
dir()

['In',
 'Out',
 'Tup',
 '_',
 '_10',
 '_100',
 '_101',
 '_102',
 '_103',
 '_104',
 '_105',
 '_106',
 '_107',
 '_108',
 '_109',
 '_11',
 '_111',
 '_113',
 '_115',
 '_117',
 '_119',
 '_12',
 '_121',
 '_123',
 '_124',
 '_125',
 '_126',
 '_127',
 '_128',
 '_129',
 '_13',
 '_131',
 '_134',
 '_136',
 '_138',
 '_140',
 '_142',
 '_143',
 '_145',
 '_147',
 '_149',
 '_150',
 '_151',
 '_152',
 '_153',
 '_154',
 '_16',
 '_166',
 '_168',
 '_17',
 '_176',
 '_177',
 '_178',
 '_179',
 '_18',
 '_180',
 '_181',
 '_182',
 '_183',
 '_185',
 '_187',
 '_189',
 '_19',
 '_190',
 '_191',
 '_192',
 '_194',
 '_20',
 '_21',
 '_22',
 '_23',
 '_24',
 '_25',
 '_27',
 '_28',
 '_31',
 '_33',
 '_34',
 '_35',
 '_36',
 '_37',
 '_38',
 '_39',
 '_40',
 '_41',
 '_42',
 '_43',
 '_44',
 '_45',
 '_46',
 '_47',
 '_48',
 '_49',
 '_5',
 '_50',
 '_51',
 '_53',
 '_54',
 '_55',
 '_56',
 '_57',
 '_58',
 '_6',
 '_62',
 '_63',
 '_64',
 '_65',
 '_66',
 '_67',
 '_69',
 '_7',
 '_70',
 '_71',
 '_73',
 '_77',
 '_8',
 '_9',
 '_90',
 '_92',
 '_93',
 '_95',
 '_96',
 '_97',
 '_98',
 '_99',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i100',
 '_i101',
 '_i102',
 '_i103',
 '_i104',
 '_i105',
 '_i106',
 '_i107',
 '_i108',
 '_i109',
 '_i11',
 '_i110',
 '_i111',
 '_i112',
 '_i113',
 '_i114',
 '_i115',
 '_i116',
 '_i117',
 '_i118',
 '_i119',
 '_i12',
 '_i120',
 '_i121',
 '_i122',
 '_i123',
 '_i124',
 '_i125',
 '_i126',
 '_i127',
 '_i128',
 '_i129',
 '_i13',
 '_i130',
 '_i131',
 '_i132',
 '_i133',
 '_i134',
 '_i135',
 '_i136',
 '_i137',
 '_i138',
 '_i139',
 '_i14',
 '_i140',
 '_i141',
 '_i142',
 '_i143',
 '_i144',
 '_i145',
 '_i146',
 '_i147',
 '_i148',
 '_i149',
 '_i15',
 '_i150',
 '_i151',
 '_i152',
 '_i153',
 '_i154',
 '_i155',
 '_i156',
 '_i157',
 '_i158',
 '_i159',
 '_i16',
 '_i160',
 '_i161',
 '_i162',
 '_i163',
 '_i164',
 '_i165',
 '_i166',
 '_i167',
 '_i168',
 '_i169',
 '_i17',
 '_i170',
 '_i171',
 '_i172',
 '_i173',
 '_i174',
 '_i175',
 '_i176',
 '_i177',
 '_i178',
 '_i179',
 '_i18',
 '_i180',
 '_i181',
 '_i182',
 '_i183',
 '_i184',
 '_i185',
 '_i186',
 '_i187',
 '_i188',
 '_i189',
 '_i19',
 '_i190',
 '_i191',
 '_i192',
 '_i193',
 '_i194',
 '_i195',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i87',
 '_i88',
 '_i89',
 '_i9',
 '_i90',
 '_i91',
 '_i92',
 '_i93',
 '_i94',
 '_i95',
 '_i96',
 '_i97',
 '_i98',
 '_i99',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'a_b',
 'a_b_1',
 'ab',
 'abc',
 'abcd',
 'age',
 'b',
 'c',
 'count',
 'd',
 'data',
 'data_type',
 'e',
 'exit',
 'f',
 'get_ipython',
 'h',
 'info',
 'info_data',
 'input_text',
 'keyword',
 'list1',
 'list2',
 'list3',
 'math',
 'name',
 'names',
 'quit',
 'r',
 'sb',
 'st',
 'st1',
 'st2',
 'statement',
 'str1',
 'str2',
 'str3',
 'str4',
 'tup',
 'tupl',
 'word',
 'word_counts',
 'words',
 'x1',
 'x2',
 'y1',
 'y2']

In [196]:
s1 ={10,11,11,12,13,15,11,16,17,14,18}
s1

{10, 11, 12, 13, 14, 15, 16, 17, 18}

In [197]:
s2={10,15,17,12,14,18,21,17}
s2

{10, 12, 14, 15, 17, 18, 21}

In [198]:
s1,s2

({10, 11, 12, 13, 14, 15, 16, 17, 18}, {10, 12, 14, 15, 17, 18, 21})

In [199]:
s1.add(15)

In [200]:
s1

{10, 11, 12, 13, 14, 15, 16, 17, 18}

In [201]:
s1.add(22)

In [202]:
s1

{10, 11, 12, 13, 14, 15, 16, 17, 18, 22}

In [203]:
s1.update({25,20}) #--> multiple value can be updated.

In [204]:
s1

{10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 22, 25}

In [205]:
union --> combine
difference -->different values
intersection--> common values

SyntaxError: invalid syntax (3410036642.py, line 1)

In [206]:
s1.union(s2)

{10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 25}

In [207]:
s1.difference(s2)

{11, 13, 16, 20, 22, 25}

In [208]:
s1.intersection(s2)

{10, 12, 14, 15, 17, 18}

In [209]:
s1,s2

({10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 22, 25},
 {10, 12, 14, 15, 17, 18, 21})

In [210]:
s1.symmetric_difference(s2)

{11, 13, 16, 20, 21, 22, 25}

In [211]:
s1.isdisjoint(s2)

False

In [212]:
s3 ={1,2,3}
s4 ={4,5,6}
s3.isdisjoint(s4)

True

In [213]:
a = {1,2,3,4,5,6}
b = {1,2,3}
a.issubset(b)

False

In [214]:
b.issubset(a)

True

In [215]:
a.issuperset(b),b.issuperset(a)

(True, False)

In [216]:
s1,s2

({10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 22, 25},
 {10, 12, 14, 15, 17, 18, 21})

In [217]:
# update
s1.difference_update(s2)

In [218]:
s1

{11, 13, 16, 20, 22, 25}

In [219]:
s1.intersection_update(s2)

In [220]:
s1

set()

In [221]:
s1.symmetric_difference_update(s2)

In [222]:
s1

{10, 12, 14, 15, 17, 18, 21}

In [223]:
s1.intersection(s2)

{10, 12, 14, 15, 17, 18, 21}

In [224]:
s1.intersection_update(s2)

In [225]:
s1

{10, 12, 14, 15, 17, 18, 21}

In [226]:
# indexing/slicing
#s1[0]

In [227]:
s1.pop()

10

In [228]:
s1.remove(14)

In [229]:
s1

{12, 15, 17, 18, 21}

In [230]:
ss1=s1.copy()

In [231]:
ss1

{12, 15, 17, 18, 21}

In [232]:
# dictionary
dt ={ "name":['sourabh','ravi'],
    "course_id":[1,2]}

In [233]:
print(dt)

{'name': ['sourabh', 'ravi'], 'course_id': [1, 2]}

In [234]:
type(dt)

dict

In [235]:
data1= {'key1':[1,2,3,4,5,6],
       'key2':[10,15,16,True],
       'Key3':['a','b','c','d']}

In [236]:
data1

{'key1': [1, 2, 3, 4, 5, 6],
 'key2': [10, 15, 16, True],
 'Key3': ['a', 'b', 'c', 'd']}

In [237]:
type(data1)

dict

In [238]:
data1.values()

dict_values([[1, 2, 3, 4, 5, 6], [10, 15, 16, True], ['a', 'b', 'c', 'd']])

In [239]:
data1.keys()

dict_keys(['key1', 'key2', 'Key3'])

In [240]:
data1['key1']

[1, 2, 3, 4, 5, 6]

In [241]:
data1.items()

dict_items([('key1', [1, 2, 3, 4, 5, 6]), ('key2', [10, 15, 16, True]), ('Key3', ['a', 'b', 'c', 'd'])])

In [242]:
data1.get('key1')

[1, 2, 3, 4, 5, 6]

In [243]:
data1.fromkeys('key1')

{'k': None, 'e': None, 'y': None, '1': None}

In [244]:
data1.pop('key1')

[1, 2, 3, 4, 5, 6]

In [245]:
data1

{'key2': [10, 15, 16, True], 'Key3': ['a', 'b', 'c', 'd']}

In [246]:
data1.update({'key1':[1, 2, 3, 4, 5, 6]})

In [247]:
data1

{'key2': [10, 15, 16, True],
 'Key3': ['a', 'b', 'c', 'd'],
 'key1': [1, 2, 3, 4, 5, 6]}

In [248]:
data1['key1'][2]

3

In [249]:
data1['key1'][2]=5

In [250]:
data1

{'key2': [10, 15, 16, True],
 'Key3': ['a', 'b', 'c', 'd'],
 'key1': [1, 2, 5, 4, 5, 6]}

### multi list and multi dictionary

In [251]:
Mlist = [[0,1,2,3],[4,5,6,7],[8,9,10,11,12]]
Mlist

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11, 12]]

In [252]:
Mlist[0]

[0, 1, 2, 3]

In [253]:
Mlist[0][2]

2

In [254]:
Mlist[2][2]

10

In [255]:
Mlist1=[0,1,2,[10,151,6,[5,6,8,[8,9,10],[15,14,16],['a',5]]]]

In [256]:
Mlist1

[0, 1, 2, [10, 151, 6, [5, 6, 8, [8, 9, 10], [15, 14, 16], ['a', 5]]]]

In [257]:
Mlist1[3][1]

151

In [258]:
Mlist1[3][3][5][0]

'a'

In [259]:
columns = ['name','age','subjects','Marks']
student_marks = [
    {'name':'sam',
    'age':25,
    'subjects':['Maths','science','CS','Statistics','Phyisics','Bio'],
    'Marks':[60,70,80,90,70,60]},
    
    {'name':'jack',
    'age':26,
    'subjects':['Maths','science','CS','Statistics','Phyisics','Bio'],
    'Marks':[60,70,80,80,70,60]},
                 
    {'name':'syeda',
    'age':27,
    'subjects':['Maths','science','CS','Statistics','Phyisics','Bio'],
    'Marks':[60,50,80,70,70,60]}
                ]

In [260]:
student_marks[0]

{'name': 'sam',
 'age': 25,
 'subjects': ['Maths', 'science', 'CS', 'Statistics', 'Phyisics', 'Bio'],
 'Marks': [60, 70, 80, 90, 70, 60]}

In [261]:
student_marks[0]['subjects'][0]

'Maths'

In [262]:
student_marks[0]['name']

'sam'

In [263]:
a=student_marks[0]['Marks']

In [264]:
sum(a)/len(a)

71.66666666666667

In [265]:
a=student_marks[1]['Marks']

In [266]:
sum(a)/len(a)

70.0

In [267]:
student_marks[0]['subjects'][1]="data science"

In [268]:
student_marks[0]['subjects'][1]

'data science'

In [269]:
student_marks[0]

{'name': 'sam',
 'age': 25,
 'subjects': ['Maths', 'data science', 'CS', 'Statistics', 'Phyisics', 'Bio'],
 'Marks': [60, 70, 80, 90, 70, 60]}

In [270]:

#Task4: calculate the avgrage hight of all list.
students_heights = [[5.5,5.6,5.9,5.8,5.7,5.9],
                    [6.5,6.8,7.1,6.3,6.4,6.6,6.4],
                    [7.1,7.8,7.5,6.9,8.1,7.5,7.9]]

In [271]:
students_heights[0]

[5.5, 5.6, 5.9, 5.8, 5.7, 5.9]

In [272]:
First_avg_height=sum(students_heights[0])/len(students_heights[0])
First_avg_height

5.733333333333333

In [273]:
Sec_avg_height=sum(students_heights[1])/len(students_heights[1])
Sec_avg_height

6.585714285714286

In [274]:
third_avg_height=sum(students_heights[2])/len(students_heights[2])
third_avg_height

7.542857142857143

In [275]:
# Task5: find the average marks if the students name is in terms of string.
DS_students = [
    {'name': 'Sam',
 'age': 37,
 'course': ['DS', 'Stat', 'AWS'],
 'marks': [80, 95, 69,60]},
  
    {'name': None,
 'age': 37,
 'course': ['DS', 'Stat', 'AWS'],
 'marks': [80, 95, 69,70]},
 
    {'name': 10,
 'age': 37,
 'course': ['DS', 'Stat', 'AWS'],
 'marks': [80, 95, 69,30]}]

In [276]:
students_with_string_names = [student for student in DS_students if isinstance(student['name'], str)]

# Calculate average marks for each student and overall
average_marks = [sum(student['marks']) / len(student['marks']) for student in students_with_string_names]


average_marks

[76.0]

In [277]:
students_with_string_names

[{'name': 'Sam',
  'age': 37,
  'course': ['DS', 'Stat', 'AWS'],
  'marks': [80, 95, 69, 60]}]

In [278]:
#second-way
first_name=sum(DS_students[0]['marks'])/len(DS_students[0]['marks'])
first_name

76.0

### Conditional Statements

--> if condition:
    statements
--> if condition:
    statements
    else:
        statements
--> if condition:
    statements
    elif condition:
        statements
    else:
        statements

#comparision operator

equal ==
not equal !=
greater then >
greater then equal >=
less then <
less then equal <=

In [279]:
a=10
b=20

In [280]:
if a>5:
    print("a is printed")

a is printed

In [281]:
if a!=b:
    c=a+b
    print(c)

30

In [282]:
if a == b:
    c=a+b
    print(c)
else:
    print("The a and b is not equal")

The a and b is not equal

In [283]:
a<b

True

In [284]:
a>b

False

In [285]:
a==b

False

In [286]:
if a>b:
    print("a is greater then b")
elif a==b:
    print('a is equal to b')
elif a<b:
    print("a is less then b")
else:
    print("none of them")

a is less then b

In [287]:
#logical operator
#and,or,not

In [288]:
# and
if a>5 and b>15:
    print("both are true")

both are true

In [289]:
a>5 and b>15 and a>8

True

In [290]:
# or
if a>5 or b>21:
    print("if any one condition is true then it is true")

if any one condition is true then it is true

In [291]:
if a>15 or b>18:
    print("if any one condition is true then it is true")

if any one condition is true then it is true

In [292]:
a>5 or b>15 or a>8

True

In [293]:
is_apple=True

In [294]:
not is_apple

False

In [295]:
if not a==b:
    print("Yes")
    print("a is not equal to b")

Yes
a is not equal to b

In [296]:
#ternary operator
out= 'a is 5' if a <5 else 'a is not known'

In [297]:
out

'a is not known'

In [298]:
result = 5 if a>10 else 6

In [299]:
result

6

In [300]:
DS_students

[{'name': 'Sam',
  'age': 37,
  'course': ['DS', 'Stat', 'AWS'],
  'marks': [80, 95, 69, 60]},
 {'name': None,
  'age': 37,
  'course': ['DS', 'Stat', 'AWS'],
  'marks': [80, 95, 69, 70]},
 {'name': 10,
  'age': 37,
  'course': ['DS', 'Stat', 'AWS'],
  'marks': [80, 95, 69, 30]}]

In [301]:
type(DS_students[0]['name'])

str

In [302]:
if type(DS_students[0]['name']) is str:
    sam_marks=sum(DS_students[0]['marks'])/len(DS_students[0]['marks'])
    print(sam_marks)

76.0

In [303]:
if type(DS_students[1]['name']) is str:
    non_marks=sum(DS_students[1]['marks'])/len(DS_students[1]['marks'])
    print(non_marks)

In [304]:
if type(DS_students[0]['name']) is str:
    sam_marks=sum(DS_students[0]['marks'])/len(DS_students[0]['marks'])
    print(sam_marks)
elif DS_students[1]['name']==None:
    _marks=sum(DS_students[1]['marks'])/len(DS_students[1]['marks'])
    print(_marks) 
else:
    print("Th name is not string")

76.0

In [305]:
# user input values
value = int(input("enter the number:"))
if value >10:
    print('the value is more then 10')
else:
    print('the value is less then 10')

enter the number:

ValueError: invalid literal for int() with base 10: ''

In [307]:
# check wheather it is a even or odd
num=int(input("enter the number:"))
if num/2==0:
    print("even number")
else:
    print("odd number")

enter the number:26
odd number

In [308]:
num=int(input("enter the number:"))
if num/2==1:
    print("odd number")
else:
    print("even number")

enter the number:26
even number

Task 6:
    the user input for age and gender info, check the age is > 18 and gender M F,
    then print out that your are eligible for voting if M,
    your are eligible for voting in male booth if F,
    your are eligible for voting in female booth if both conditon is false,
    not eligible for voting

In [309]:
age =int(input("enter the number:"))
gender=input("enter your gender:")
if age>18 and gender=='M' and gender=='F':
    print("you are eligible for voting ")
elif age>18 and gender=='M':
    print("you are eligible for voting in male booth ")
elif age>18 and gender=='F':
    print("you are eligible for voting in female booth ")  
else:
    print("not eligible for voting")

enter the number:26
enter your gender:M
you are eligible for voting in male booth

Task7:

Give the fair price of given age of user eg: 
    if age is 5 years price wil be 10 rs,
    if age is 6-15 price will be 15 rs,
    greater than 15 will have 20 price.

In [310]:
age = int(input('enter the age : '))
if age==5:
    print("price wil be 10 rs")
elif age<=6 and age>=15:
    print("price wil be 15 rs")
elif age>15:
    print("price wil be 20 rs")

enter the age : 36
price wil be 20 rs

Task 8:
    Create a marksheet with grades of marks.
    marks = [30-100]

90+-- A grade

70+ -- B grade

50+ -- C grade

30+ D grade

>30 fail

In [311]:
marks = int(input("enter a marks"))
if marks>90:
    print("A")
elif marks<=90 and marks>70:
    print("B")
elif marks<=70 and marks>50:
    print("C")
elif marks<=50 and marks>30:
    print("D")
else:
    print("Fail")

enter a marks29
Fail

# nested if statements
if condition:
    if condition:
        if condition:
            statements
        else:
            statements
    else:
        ststements
else:
    statements

age =int(input("enter the age:"))
gender =int(input("enter the gender:"))

if age>18:
    if gender == 'M':
        print("Eligible for voting")
    elif gender=='F':
        print("eligible for voting")
    else :
        print("Not eligible for voting")
else:
    print("Not eligible for voting")

In [312]:
if type(data)==dict:
    if  len(data['course'])==  len(data['marks']):
        print("avg:",sum(data['marks'])/len(data['marks']))
    else:
        print("marks and course are not equal")
else:
    print("marks and course are not equal")

marks and course are not equal

In [313]:
#looping statements
--> for loop
--> while loop

#syntax for loop

for i in data:
    statements

SyntaxError: invalid syntax (3723902494.py, line 2)

In [314]:
# range() function
range(start,end,step)

NameError: name 'start' is not defined

In [315]:
print(2*1)
print(2*2)
print(2*3)

2
4
6

In [316]:
for i in range(1,11):
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [317]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [318]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [319]:
string = "datascience"
List = [10,20,30,40,50]
Tuple = (60,70,80,90,100)
SET = {1,5,6,8,9,1,2,6,5,9,10}

In [320]:
for i in string:
    print(i)

d
a
t
a
s
c
i
e
n
c
e

In [321]:
for i in string:
    #print(type(i))
    print(i.upper())

D
A
T
A
S
C
I
E
N
C
E

In [322]:
for i in List:
    print(i+2)

12
22
32
42
52

In [323]:
for i in List:
    print(i**2)

100
400
900
1600
2500

In [324]:
for i in Tuple:
    print(i)

60
70
80
90
100

In [325]:
for i in Tuple:
    print(i/2)

30.0
35.0
40.0
45.0
50.0

In [326]:
for i in SET:
    print(i)

1
2
5
6
8
9
10

In [327]:
alpha = {'a','c','a','d','e'}
for j in alpha:
    print(j)

e
d
a
c

In [328]:
Data ={'name': 'Sam',
 'age': 37,
 'course': ['DS', 'Stat', 'AWS'],
 'marks': [80, 95, 69,60]}

In [329]:
for i in Data:
    print(i)

name
age
course
marks

In [330]:
for i in Data.values():
    print(i)

Sam
37
['DS', 'Stat', 'AWS']
[80, 95, 69, 60]

In [331]:
for i in Data.items():
    print(i)

('name', 'Sam')
('age', 37)
('course', ['DS', 'Stat', 'AWS'])
('marks', [80, 95, 69, 60])

In [332]:
for i in Data.keys():
    print(i)

name
age
course
marks

In [333]:
heights

NameError: name 'heights' is not defined

In [334]:
students_heights

[[5.5, 5.6, 5.9, 5.8, 5.7, 5.9],
 [6.5, 6.8, 7.1, 6.3, 6.4, 6.6, 6.4],
 [7.1, 7.8, 7.5, 6.9, 8.1, 7.5, 7.9]]

In [335]:
for i in students_heights:
    avg = round(sum(i)/len(i),2)
    print(avg)

5.73
6.59
7.54

In [336]:
for i in students_heights:
    minimum= min(i)
    print(minimum)

5.5
6.3
6.9

In [337]:
DS_students

[{'name': 'Sam',
  'age': 37,
  'course': ['DS', 'Stat', 'AWS'],
  'marks': [80, 95, 69, 60]},
 {'name': None,
  'age': 37,
  'course': ['DS', 'Stat', 'AWS'],
  'marks': [80, 95, 69, 70]},
 {'name': 10,
  'age': 37,
  'course': ['DS', 'Stat', 'AWS'],
  'marks': [80, 95, 69, 30]}]

In [338]:
students_height = ['Prajwal','juhaib','aryan','ram','pyarellall','binit','venkatesh','tej','rajshri','tanuja','akankshya','sandhya']

In [339]:
len(students_height)

12

In [340]:
a=1
a+1

2

In [341]:
length = 0
for i in students_height:
    length=length+1
print(length)

12

In [342]:
length = 0
for i in students_height:
    length+=1
print(length)

12

In [343]:
ht =[5.5, 5.6, 5.9, 5.8, 5.7, 5.9]
l=0
for i in ht:
    l+=1
print(l)

6

In [344]:
sum(ht)

34.4

In [345]:
l=0
for i in ht:
    l +=i
print(l)

34.4

In [346]:
sum=0
for i in ht:
    sum+=i
print(sum)

34.4

In [347]:
#break
ht =[5.5, 5.6, 5.9,'a', '5.8', 5.7, 5.9]

for i in ht:
    if i=='a':
        break
    print(i)

5.5
5.6
5.9

In [348]:
#continue
ht =[5.5, 5.6, 5.9,'a', '5.8', 5.7, 5.9]

for i in ht:
    if i=='a':
        continue
    print(i)

5.5
5.6
5.9
5.8
5.7
5.9

In [349]:
ht =[5.5, 5.6, 5.9,'a', '5.8', 5.7, 5.9]

for i in ht:
    if type(i)==str:
        continue
    print(i)

5.5
5.6
5.9
5.7
5.9

In [350]:
#pass
for i in ht:
    if type(i)==str:
        pass #don't want to change right now 
    print(i)

5.5
5.6
5.9
a
5.8
5.7
5.9

In [351]:
# using range function

for i in range(0,len(ht)):
    print(i)

0
1
2
3
4
5
6

In [352]:
for i in range(0,len(ht)):
    print(ht[i])

5.5
5.6
5.9
a
5.8
5.7
5.9

In [353]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [354]:
for i in range(len(ht)-1,-1,-1):
    print(ht[i])

5.9
5.7
5.8
a
5.9
5.6
5.5

In [355]:
List=[10, 20, 30, 40, 50,10,20,30,50,60,40,50,60,70]

for i in List:
    d=List.count(i)
    print(i,d)

10 2
20 2
30 2
40 2
50 3
10 2
20 2
30 2
50 3
60 2
40 2
50 3
60 2
70 1

In [356]:
#finding the duplicates values.
for i in set(List):
    d=List.count(i)
    if d>1:
        print(i)

40
10
50
20
60
30

In [357]:
List=[[10, 20, '30', 40, 50],[10,20,'30',50,60],[40,50,'60',70,10],[15,20,30,'40',50]]

In [358]:
len(List)

4

In [359]:
Total = 0
for i in List:
    if type(i)== str:
        continue
        Total += i
    
    print(Total)

0
0
0
0

In [360]:
#nested loop

In [361]:
for i in range(5):
        print(i)
        for j in range(2):
            print("#",end="")

0
##1
##2
##3
##4
##

In [362]:
for i in range(5):
        print(i,end="")
        for j in range(2):
            print("#",end="")

0##1##2##3##4##

In [363]:
for i in range(5):
        print(i,end='')
        for j in range(2):
            print("#",end="")
        print()

0##
1##
2##
3##
4##

In [364]:
for i in range(5):
    print("*"*i)

*
**
***
****

In [365]:
for i in range(6):
    for j in range(i+1):
        print(j,end=' ')
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5

In [366]:
for i in range(1,6):
    for j in range(i):
        print(j+1,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [367]:
for i in range(1,6):
    for j in range(i):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [368]:
for i in range(1,6):
    for j in range(i):
        print(i,end=' ')
    print() 
for i in range(4,0,-1):
    for j in range(i):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [369]:
for i in range(6,0,-1):
    for j in range(i):
        print(i,end=' ')
    print()

6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [370]:
for i in range(1,6):
    for j in range(i):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [371]:
for i in range(6,0,-1):
    for j in range(i):
        print(i,end=' ')
    print()

6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [372]:
#pyramid
for i in range(5):
    for j in range(i):
        print(" ",end=' ')
    print()

In [373]:
#pyramid
for i in range(5):
    for b in range(5-i):
        print(' ',end='')
    for j in range(i+1):
        print("*",end=" ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [374]:
for i in range(5,0,-1):
    for b in range(5-i):
        print(' ',end='')
    for j in range(i):
        print("*",end=" ")
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [375]:
for i in range(5):
    for b in range(5-i):
        print(' ',end='')
    for j in range(i+1):
        print("*",end=" ")
    print()
    
for i in range(5,-1,-1):
    for b in range(5-i):
        print(' ',end='')
    for j in range(i+1):
        print("*",end=" ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [376]:
#while looping

In [377]:
i=0
while i<=6:
    print(i)
    i+=1

0
1
2
3
4
5
6

In [378]:
i=5
while i>=0:
    print(i)
    i-=1

5
4
3
2
1
0

In [379]:
#break
i=0
while i<=10:
    if i==7:
        break
    print(i)
    i+=1

0
1
2
3
4
5
6

#continue
i=0
while i<=10:
    if i==7:
        print("")
        continue
    print(i)
    i+=1

In [380]:
i=0
while (i<=5):
    j=1
    while(j<=i):
        print(i,end=" ")
        j+=1
    print()
    i+=1

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [381]:
i=1
while(i<=5):
    j=1
    while j<=5-i:
        print(" ",end="")
        j+=1
    k=1
    while k<=i:
        print("*",end=' ')
        k+=1
    print()
    i+=1

    *
   * *
  * * *
 * * * *
* * * * *

### user define function

In [382]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

In [383]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [384]:
def add(a,b):
    return a+b
add(5,6)

11

# function define

def function_name():
    statements

def --> defining a function
function_name --> name of the function
statements --> statements for function

In [385]:
# no parameter function
def name():
    print("My name is sourabh")

#calling a function    
name()

My name is sourabh

In [386]:
# single parameter function
def student_name(name):
    print("My name is" ,name)

#calling a function    
student_name("sourabh")

My name is sourabh

In [387]:
# default parameter function
def student_name(name="sourabh"):
    print("My name is" ,name)

#calling a function    
student_name()

My name is sourabh

In [388]:
# multi parameter function
def add(a,b):
    return a+b
add(5,6)

11

In [389]:
def sub(a,b):
    return a-b
sub(5,6)

-1

In [390]:
def multiplication(a,b):
    return a*b
multiplication(5,6)

30

In [391]:
def div(a,b):
    return a/b
div(5,6)

0.8333333333333334

In [392]:
def square(a,b):
    return a**b
    #return b**2
square(5,6)

15625

In [393]:
def rem(a,b):
    return a%b
rem(5,6)

5

In [394]:
def Ar_op(a,b):
    sub=a-b
    mul=a*b
    div=a/b
    sq_a=a**2
    sq_b=b**2

In [395]:
# create a function to get table of a number.
def number(n):
    for i in range(1,11):
        print(n,"*",i,"=",n*i)
number(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [396]:
# *args --> many arguments
def add(a):
    return a

In [397]:
add(5)

5

In [398]:
def add(*a):
    print(a)

In [399]:
add(5,6)

(5, 6)

In [400]:
def square_values(*b):
    sqr = []
    for i in b:
        sq=i*i
        sqr.append(sq)
    return sqr

In [401]:
square_values(1,2,3,4,5)

[1, 4, 9, 16, 25]

In [402]:
def sum_of_square(n):
    sum=0
    for i in range(1,n):
        sum=i*i+sum
    print(sum)

In [403]:
sum_of_square(5)

30

In [404]:
def sum_of_square(*n):
    sum=0
    for i in n:
        sum=i*i+sum
    print(sum)

In [405]:
sum_of_square(1,2,5,6)

66

In [406]:
# **kwarges --> many key word arguments

def multi_keywords(**b):
    print(b)

In [407]:
multi_keywords(a=10,b=30,c=[1,2,3],d=(4,5,6))

{'a': 10, 'b': 30, 'c': [1, 2, 3], 'd': (4, 5, 6)}

In [408]:
# docs string --> documentation of the function
help(multi_keywords)

Help on function multi_keywords in module __main__:

multi_keywords(**b)

In [409]:
def sumOfsquare(*b):
    '''Sum of square values parameter:
    b : b takes may integer values
    return:
    sum of squared value in terms of int.'''
    sum=0
    for i in n:
        sum=i*i+sum
    print(sum)

In [410]:
help(sumOfsquare)

Help on function sumOfsquare in module __main__:

sumOfsquare(*b)
    Sum of square values parameter:
    b : b takes may integer values
    return:
    sum of squared value in terms of int.

In [411]:
print(sumOfsquare.__doc__)

Sum of square values parameter:
    b : b takes may integer values
    return:
    sum of squared value in terms of int.

In [412]:
# lambda function --> Annonymous function

lambda arguments:expression

In [413]:
a=lambda x:x**2
print(a(5))

25

In [414]:
cube=lambda x:x**3
print(cube(10))

1000

In [415]:
a=lambda x,y:x**y
print(a(5,6))

15625

In [416]:
many_values = lambda *y:y

In [417]:
print(many_values(1,5,6,8))

(1, 5, 6, 8)

In [418]:
#lambda functio practice
"""Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument,
also create a lambda function that multiplies argument x with argument y and prints the result.
Sample 
Output: 25 
        48"""

var1=lambda x:x+15
print(var1(10))


var2=lambda x,y:x*y

print(var2(8,6))

25
48

In [419]:
"""Write a Python program to create a function that takes one argument,
and that argument will be multiplied with an unknown given number."""

def args(n):
    a=lambda x:x*n
    var1=args(5)

print(var1(5))

20

In [420]:
#factorial of a given number

def factorial(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    print(fact)

In [421]:
factorial(5)

120

In [425]:
# find even odd number
def even_odd(num):
    if num%2==0:
        return "even"
    else:
        return "odd"

In [426]:
num=int(input("enter a number :"))
even_odd(num)

enter a number :26

'even'

In [427]:
# n natural number sum
def natural(num):
    sum=0
    for i in range(1,num+1):
        sum=sum+i
        
    print(sum)

In [428]:
natural(5)

15

In [429]:
# n natural number multiplication sum

def multiplication_sum(n):
    sum=0
    for i in range(1,n+1):
        sum=sum+i*i
    print(sum)

In [430]:
multiplication_sum(5)

55

In [431]:
# maximum number from three user input number

def max_number(x,y,z):
    if x>y and x>z:
        print("x is maximum")
    elif y>z:
        print("y is maximum")
    else:
        print("z is maximum")

In [432]:
x=int(input("enter first number :"))
y=int(input("enter second number :"))
z=int(input("enter first number :"))
max_number(x,y,z)

enter first number :26
enter second number :25
enter first number :56
z is maximum

In [433]:
# swap two number
def swap(x,y):
    x,y=y,x
    print(x,y)

In [434]:
swap(25,6)

6 25

In [435]:
# print pattern
"""
*
* *
* * *
* * * *
* * * * *
"""

'\n*\n* *\n* * *\n* * * *\n* * * * *\n'

In [436]:
n=5
def pattern(n):
    for i in range(n+1):
        print("*"*i)

In [437]:
pattern(5)

*
**
***
****
*****

In [438]:
for i in range(4,-1,-1):
    print("*"*i)

****
***
**
*

In [439]:
def pattern(n):
    for i in range(n+1):
        print("*"*i)
pattern(5)        
        
for i in range(4,-1,-1):
    print("*"*i)

*
**
***
****
*****
****
***
**
*

In [440]:
for i in range(5):
    print("*"*i)
    
for j in range(5,-1,-1):
    print("*"*i)

*
**
***
****
****
****
****
****
****
****

In [441]:
for i in range(5):
    for j in range(4):
        print("*"*i*j)

*
**
***

**
****
******

***
******
*********

****
********
************

# sum of all odd numbers

n=5
odd number-->1+3+5-->9

In [442]:
num=5
sum=0
for i in range(1,n+1):
    if i%2==1:
        sum=sum+i
print(sum)

9

In [443]:
def sum_od_odd_number(num):
    sum=0
    for i in range(1,num+1):
        if i%2==1:
            sum=sum+i
    print(sum)

In [444]:
sum_od_odd_number(5)

9

In [446]:
# enter three number from user and make a function to print their average
x=int(input("enter first number :"))
y=int(input("enter second number :"))
z=int(input("enter third number :"))

avg = int((x+y+z)/3)
print(avg)

enter first number :26
enter second number :56
enter third number :65
49

In [447]:
# wap to print 0,1,2,3,4,5,6,7,8,9,10
sum=0
for i in range(0,11):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [448]:
# sum of square
num=10
sum=0
for i in range(1,num+1):
    sum=sum+i*i
    
print(sum)

385

In [449]:
100+81+64+49+36+25+16+9+4+1

385

In [450]:
def sumOfsquare(*b):
    '''Sum of square values parameter:
    b : b takes may integer values
    return:
    sum of squared value in terms of int.'''
    sum=0
    for i in b:
        sum=i*i+sum
    print(sum)

In [451]:
help(sumOfsquare)

Help on function sumOfsquare in module __main__:

sumOfsquare(*b)
    Sum of square values parameter:
    b : b takes may integer values
    return:
    sum of squared value in terms of int.

In [452]:
print(sumOfsquare.__doc__)

Sum of square values parameter:
    b : b takes may integer values
    return:
    sum of squared value in terms of int.